<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/output.css">
  <title>Document</title>
</head>

<body>
  <header>
    <div class="navbar bg-base-100">
      <div class="flex-1">
        <a class="btn btn-ghost text-xl">Mbaye Diao</a>
      </div>
      <nav class="hidden sm:inline-block lg:inline-block">
        <ul class="p-2 bg-base-100 rounded-t-none flex">
          <li class="mx-2"><a rel="github" href="#home">home</a></li>
          <li class="mx-2"><a rel="intagram" href="#project">Project</a></li>
          <li class="mx-2"><a rel="linkedinII" href="#contact">contact</a></li>
        </ul>
      </nav>
      <div class="sm:hidden lg:hidden">
        <ul class="menu menu-horizontal px-1">
          <li>
            <details>
              <summary>
                Explore
              </summary>
              <ul class="p-2 bg-base-100 rounded-t-none">
                <li><a rel="github" href="#home">home</a></li>
                <li><a rel="intagram" href="#project">Project</a></li>
                <li><a rel="linkedinII" href="#contact">contact</a></li>
              </ul>
            </details>
          </li>
        </ul>
      </div>
    </div>
  </header>
  <main>
    <section id="home">
      <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
          <img src="../static/image/mbaye.jpg"
            class="min-w-sm lg:w-96 md:w-80 rounded-lg shadow-2xl" />
          <div>
            <h1 class="text-5xl font-bold">👋 Hello, I'm Mbaye Diao !</h1>
            <p class="py-6">👨‍💻 Apprentice Software Developer | Passionate about building innovative solutions.</p>
            <p class="py-6">🌟 exploring the realms of coding</p>
            <button class="btn btn-primary"> <a href="#project">Get Started</a></button>
          </div>
        </div>
      </div>
    </section>
    <h1 class="text-6xl text-center">Techno</h1>
    <section>
      <h3>Some of the newest <span class="underline">technology</span> that i use</h3>
      <div class=" w-full grid md:grid-cols-4 sm:grid-cols-2 lg:grid-cols-8 place-items-center my-10">
              <img class="h-28 object-contain" src="../static/image/html.png" alt="">
              <img class="h-28 object-contain" src="../static/image/css.png" alt="">
              <img class="h-28 object-contain" src="../static/image/javascript.png" alt="">
              <img class="h-28 object-contain" src="../static/image/node.png" alt="">
              <img class="h-28 object-contain" src="../static/image/express.png" alt="">
              <img class="h-28 object-contain" src="../static/image/react.png" alt="">
              <img class="h-28 object-contain" src="../static/image/mongodb.png" alt="">
      </div>
    </section>
    <h1 class="text-6xl text-center">Project</h1>
    <section id="project" class="grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-4 justify-center place-items-center">
      <div class="card card-compact p-2  w-80 bg-base-100 shadow-xl">
        <figure><img src="https://gomycodelearndev.blob.core.windows.net/lab-phases/161fbadf-d201-425b-84c9-12d012bbeefa133305347565417186.png" alt="Shoes"/></figure>
        <div class="card-body">
          <h2 class="card-title">E-commerce!</h2>
          <p>I Create a full-stack e-commerce website using the MERN stack (MongoDB, Express, React, and Node.js).</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"> <a href="https://github.com/mbadiao">See Now</a></button>
          </div>
        </div>
      </div>
      <div class="card card-compact p-2  w-80 bg-base-100 shadow-xl">
        <figure><img src="https://gomycodelearndev.blob.core.windows.net/lab-phases/4f955b94-7b35-4255-be0c-07da363ca958133304571920974112.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Task Management Application!</h2>
          <p>I have been assigned to develop a task management application using the MERN stack (MongoDB, Express.js, React, Node.js).</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"> <a href="https://github.com/mbadiao">See Now</a></button>
          </div>
        </div>
      </div>
      <div class="card card-compact p-2  w-80 bg-base-100 shadow-xl">
        <figure><img src="https://gomycodelearndev.blob.core.windows.net/lab-phases/a7a963c2-4c3d-411c-881f-d82b5344f77a133305361373903751.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Book Recommendation App!</h2>
          <p>I have been assigned to develop a book recommendation app that allows users to discover and share book recommendations.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"> <a href="https://github.com/mbadiao">See Now</a></button>
          </div>
        </div>
      </div>
      <div class="card card-compact p-2  w-80 bg-base-100 shadow-xl">
        <figure><img src="https://gomycodelearndev.blob.core.windows.net/lab-phases/8f513fb5-2d09-4a08-88ca-132accc27875133305451248327412.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Real-time Chat Application!</h2>
          <p>I have been assigned to develop a real-time chat application that allows users to communicate with each other in real-time.</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary"> <a href="https://github.com/mbadiao">See Now</a></button>
          </div>
        </div>
      </div>
    </section>
    <h1 class="text-6xl text-center">Contact</h1>
    <section id="contact" class="">
      <form class="max-w-lg mx-auto p-4 bg-base-100 shadow-md rounded-md">
        <div class="mb-4">
          <label for="name" class="block font-bold mb-2">Name</label>
          <input type="text"  id="name" name="name" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="mb-4">
          <label for="email" class="block font-bold mb-2">Email</label>
          <input type="email" id="email" name="email" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        </div>
        <div class="mb-6">
          <label for="message" class="block font-bold mb-2">Message</label>
          <textarea class="textarea textarea-bordered" placeholder="Bio"></textarea>
        </div>
        <div class="flex justify-center">
        <button class="btn btn-primary">Submit</button>
        </div>
      </form>
    </section>
  </main>
  <footer class="footer items-center p-4 bg-neutral text-neutral-content">
      <svg width="36" height="36" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
        clip-rule="evenodd" class="fill-current">
        <path
          d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
        </path>
      </svg>
      <p>Copyright © 2024 - All right reserved</p>
  </footer>
</body>

</html>